* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}


h1 {
	font-size: 25px;
	text-align: center;
	color: purple;
}



#appContainer {

	#timeButtonsContainer{
		text-align: center;
	}

	border: 5px solid purple;
	background: lightblue;
	height: 200px;
			
		#time {
			color: orange;
			text-align: center;

			}
			

		} 
